<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory name="LibreriaHibernate">
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/agencia</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.pool_size">1</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.cache.provider_class">
        	org.hibernate.cache.NoCacheProvider
    	</property>
    <mapping resource="agencia/mapeos/Reservas.hbm.xml"/>
    <mapping resource="agencia/mapeos/Usuario.hbm.xml"/> 
    <mapping resource="agencia/mapeos/Aeropuerto.hbm.xml"/>
    <mapping resource="agencia/mapeos/CompaniaAerea.hbm.xml"/>
    <mapping resource="agencia/mapeos/Avion.hbm.xml"/>
    <mapping resource="agencia/mapeos/Vuelo.hbm.xml"/>
    <mapping resource="agencia/mapeos/ReservaVuelo.hbm.xml"/>
    <mapping resource="agencia/mapeos/CompaniaHotelera.hbm.xml"/>
    <mapping resource="agencia/mapeos/Hotel.hbm.xml"/>
    <mapping resource="agencia/mapeos/ReservaHotel.hbm.xml"/>
    <mapping resource="agencia/mapeos/DisponibilidadHotel.hbm.xml"/>
    <mapping resource="agencia/mapeos/OfertaHotel.hbm.xml"/>
    <mapping resource="agencia/mapeos/OfertaVuelo.hbm.xml"/>

  </session-factory>
</hibernate-configuration>
